<!DOCTYPE html>
<html>
<head>
	<title>Swapi | Starwars Information Hub</title>
	<link rel="icon" type="image/png" href="/favicon.png"/>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="hero title">
	<div class="container">
		<div class="row title">
			<h2>Name: <strong><%= name %></strong></h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="row info">
		<p>Gender: <strong><%= gender %></strong></p>
		<p>Height: <strong><%= height %></strong></p>
		<p>Mass: <strong><%= mass %></strong></p>
		<p>Hair Color: <strong><%= hair_color %></strong></p>
		<p>Skin Color: <strong><%= skin_color %></strong></p>
		<p>Eye Color: <strong><%= eye_color %></strong></p>
		<p>Birth Year: <strong><%= birth_year %></strong></p>
	</div>
</div>
</body>
</html>